## Comparison operators

A math operator is a character that performs an operation on one or more objects, called operands. Remember that comparison operators will always return a `True` or `False` response.

To explore Python comparison operators, try out the following comparison operations:

In [1]:
# False ==
1 == 2

False

In [2]:
# True !=
1 != 2

True

In [3]:
# True <

1 < 2

True

In [4]:
# False >
1 > 2

False

We also have `<=` and `>=` comparison operators. Let's try out some *greater than or equal to* and less than or equal to comparisons in the following examples:

In [5]:
# True <=

5 <= 5

True

In [6]:
# True >=
10 >= 9

True

In [7]:
# False >=
10 >= 11

False

In [8]:
# True <=
10 <= 10

True

In [9]:
# False <=
11 <= 10

False

Finally, you can also use the equal `==` and not equal `!=` comparison operators on strings. For example, `"Yes" == "Yes"`returns True. String comparisons are case-sensitive, so keep that in mind. For example, `"Yes" == "yes"` would return False.

The `==` checks equality of values and data type. For example, ` 3 == "3"` will return `False` because they are not the same data type even though they are both `3`. In contrast, ` 3 == 3` will return `True` because they are the same value and data type.

Let's try using the equal `==` and not equal `!=` comparison operators on the `Bool` values:

In [10]:
# False ==

True == False

False

In [11]:
# True ==

True == True

True

In [13]:
# False !=

False != False

False

In [14]:
# True !=

True != False

True

## Logical Operators

Logical operators are great when you want to combine conditional statements. Try out the following examples, and be sure to type your own code as you try them out:

In [15]:
# assign the value 3 to variable: n
n = 3

# and logical operator
n > 2 and n < 10

True

In [16]:
# assign the value 9 to variable: n
n = 9

# and logical operator
n > 2 and n < 10

True

In [17]:
# assign the value 9 to variable: n
n = 9

# not with and logical operator
not(n > 2 and n < 10)

False

## Assignment Operators

Assignment operators are great when you need to assign values to variables. Try out the following examples and be sure to write your own tests to really understand how assignment operators work:

### Basic assigment operator

In [18]:
# assign the value of 1 to variable: n
n = 1

# print n
print(n)

1

### Assigment math operators

In [19]:
# assign the value of 1 to variable: n
n = 1

# addition +=
n += 9

# # print n to return value of 10
print(n)

10

In [20]:
# substraction -=
n -= 1

# print n to return value of 9
print(n)

9

In [21]:
# multiplication *=
n *= 5

# print n to return value of 45
print(n)

45

In [22]:
# division /=
n /= 5

# print n to return value of 9.0
print (n)

9.0

In [23]:
# type cast n back into an int
n = int(n)

# print n to return integer value of 9
print(n)

9

In [24]:
# modulo %=
n %= 2

# print n to return value of 1
print(n)

1

In [25]:
# assign the value of 75.9 to variable: n
n = 75.9

# floor division //= 
#floor division rounds down to the nearest integer
n //= 3

# print n to return value of 25.0
print(n)

25.0

In [26]:
# assign the value of 5 to variable: n
n = 5

# exponentiation **=
n **= 2

# print n to return value of 25
print(n)

25

## Identity Operators

Identity operators are great when you want to compare objects, so see if they are actually the same object:

In [28]:
a = 'Skateboard'
b = 'Skateboard'
#takes type and value into account

a is b

True

In [29]:
a = 'Longboard'
b = 'Skateboard'

a is b

False

In [30]:
a = 'Longboard'
b = 'Skateboard'

a is not b

True

## Membership Operators
Membership operators are a great way to test and see if a sequence is present in another object:

In [31]:
fruits = ["apple", "banana"]

"banana" in fruits

True

In [32]:
fruits = ["apple", "banana"]

"banana" not in fruits

False

In [33]:
fruits = ["apple", "pear"]

"banana" in fruits

False