# Variables

As we discussed earlier, variables are names, or placeholders, that contain values such as strings(text), numbers, and even boolean values or functions. Before diving into numbers, math operations, and strings, you should know how to write a proper variable name using best practices. 

## Legality

Variable can be any length consisting of uppercase and lowercase letters `A-Z`,`a-z`, digits `0-9`, and underscores `_`. Although a variable name can contain digits, the first character of a variable cannot include a digit.

In [4]:
# not a legal variable name
#1 = 100 not allowed
# technically _1 = 100 would work

## Undefined variables

Beware: If you try to return an undefined variable, you will get a name error ðŸ˜±

In [6]:
# m is undefined
#m

# you can initialize a variable
m = ""
type(m)

str

## Return a variable

If you define a variable and execute the variable name, you'll return the value of that variable. However, you will only get one return value per variable if you execute more than one variable. In the next section, you will learn to return multiple variables in the same code cell using the `print()` function.

In [8]:
# return variables, one at a time
a = 1
a

# or you will return the value of y, not x and y
b = 2
b

2

### Printing variables

In [9]:
# you can print both values using two print() functions
# and inserting the variable inside the parenthesis (this is called an argument)

print(a)
print(b)

1
2

In [10]:
# once you declare a variable, you can use it in many ways
a + b

3

In [11]:
# this also works with strings, which we will cover in depth later in the course
message = 'The values of a and b are equal to: '
# print message
print(message)

# print a + b
print(a + b)

The values of a and b are equal to:
3

### Variable are case-senitive

In [12]:
# K is not the same as k
K = 4
k = 5
print(K)
print(k)

4
5

### Variable can be reassigned

In [13]:
# reassign the variable k
k = 10

k = 100
print(k)

100

## Semantic Variable Names

Variables should be meaningful whenever possible. For example, when keeping track of points for players in a game or a customer's balance at a bank. Semantic variable names help keep your code more readable for you and anyone else looking at your code.

In [14]:
# what is a semantic variable name for final scores?
score_high = 2
score_low = 1

print(score_high)
print(score_low)

2
1

## Type casting
You can specify the data type of a variable with typecasting.

In [15]:
x = str(3)    # x = '3'
y = int(3)    # y = 3
z = float(3)  # z = 3.0

print(x)
print(y)
print(z)

#Thisd would only return the type(z)
#type(x)
#type(y)
#type(z) 

print(type(x))
print(type(y))
print(type(z))

3
3
3.0
<class 'str'>
<class 'int'>
<class 'float'>