## For loops

`For` loops iterate over a given sequence, for example:

In [11]:
# write a for loop that prints out the numbers 0 to n
for n in range(5):
    print(n)
print ("____")

# write a for loop that out 3,4,5 (3 to 6, not including 6)
for n in range(3,6): #lower is included, upper is not
    print(n)
print ("____")

# write a for loop that out 3,5,7 (from 3 to 8, not including 8, in steps of 2)
for n in range(3,8,2):
    print(n)

0
1
2
3
4
____
3
4
5
____
3
5
7

The last range function accepted three arguments, so we can move in steps. `From 3 to 8, not including 8 in steps of 2`.

> Note: that the range function is zero-based.

You can also iterate through a list of names. For example:

In [13]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]

# for every name in list_name, print name
for name in list_name: #name here is a placeholder, can be any varable name as long as it matches what is in the parentheses in the print statement
    print(name)

Constance
Octavia
Hannah

In [17]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]

# for every name in list_name
for name in list_name:
  # check if name equals "Hannah"
    if name == "Hannah":
    # if so, break the loop
        break
    else:
        "Hannah isn't on the list."
  # print name (outside of the if statement scope) 
    print(name)

Constance
Octavia

In [18]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]
# for every name in list_name
for name in list_name:
  # check if name equals "Hannah"
    if name == "Hannah":
    # if so, continue the loop (skips Hannah)
        continue
  # print name (outside of the if statement scope) 
    print(name)

Constance
Octavia

## Data Cleaning Example
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [19]:
sales = ['$1.21', '$2.29', '$14.52', '$6.13', '$24.36', '$33.85', '$1.92']
[s.lstrip("$") for s in sales]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']

In [20]:
[sales[i].strip('$') for i in range(len(sales))]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']