# Strings

When working with strings, use double quotes to avoid confusion with apostrophes such as `it's` or `that's`, which breaks up your code in a way that causes errors.

What's interesting about strings is that you can also use the `+` operator to concatenate strings or join strings together. For example, `print("Hello, " + "World!")` returns the string `Hello, World!`.

Let's review double quotes, single quotes, and the concatenation operator:

In [3]:
# Three single quotes will cause an error

In [7]:
# To avoid these syntax errors, you can either use `"` or escape the character

# Double quotes
print ("Tom's")

# Escaping using the `\` character
print ('Tom\'s')

# The concatenation operator will concatenate, or join two or more stings. Remember to use spaces!
print ("Tom's " + "shoe")

# The takeaway: use double quotes or escape the odd single quotes

Tom's
Tom's
Tom's shoe

## Type conversion

If you want to change a numeric data type such as an `int` or `float` to a string, you might recall that you can use `' '` or `" "` to covert both integers and floats into strings. For example, the variables `my_int` and `my_float` can be converted into strings by enclosing their values with single or double-quotes. For example, `my_int = "42"` and `my_float = "3.14"`â€”check your work using the `type()` method.

In [8]:
# "42" is a string, not a number like 42 (without quotes)


# check the data type
type("42")

str

In [9]:
# "3.14" is also a string, not a float like 3.14 (without quotes)


# check the data type
type(3.14)

float

In [10]:
# ask for user input
number = input("Enter a number from 1 - 10: ")

# check the data type
type(number)

Enter a number from 1 - 10: 4

str

In [11]:
# ask for user input
number = input("Enter a number from 1 - 10: ")

# check the data type of number wrapped by the int() function
type(int(number))

Enter a number from 1 - 10: 3

int

## String Formatting

The placeholders can include named indexes `{name}`, numbered indexes `{0}`, and empty placeholders `{}`. Here are three examples:

```python
example_1 = "My name is {name}".format(name = "John Coltrane")
example_2 = "My name is {0}".format("John Coltrane")
example_3 = "My name is {}".format("John Coltrane")
```

In [14]:
# use string formatting to return the string: John Coltrane practiced 12 hours a day
statement = "{name} practiced 12 hours a day".format(name = "John Coltrane")
print(statement)

John Coltrane practiced 12 hours a day

In [ ]:
# print musician

#### String concatenation method

In [15]:
# assign to variable complex_string: 7 is my favorite number and this is a True statement. My friends know that 7 is my lucky number.
complex_string = "7 is my favorite number and this is a True statement. My friends know that 7 is my lucky number."

# print complex_string
print(complex_string)

# check data type
type(complex_string)

7 is my favorite number and this is a True statement. My friends know that 7 is my lucky number.

str

#### String formatting method

In [ ]:
# assign to variable complex_string: 7 is my favorite number and this is a True statement. My friends know that 7 is my lucky number.

# print complex_string

# check data type