# George Bool

[George Boole](https://en.wikipedia.org/wiki/George_Boole) (/buːl/; 1815 – 1864) was a largely self-taught English mathematician, philosopher, and logician, most of whose short career was spent as the first professor of mathematics at Queen's College, Cork in Ireland.

In [1]:
# write a True boolean value as text
True

# write a False boolean value as text
False

False

## The `bool()` function

`False` can also be notated as `0`, and `True` can be represented as `1`. Try converting 0, and 1 to their respective boolean values using the `bool()` function.

In [3]:
# write a True boolean value as a number using bool()
bool(1)

True

In [2]:
# write a False boolean value as a number using bool()
bool(0)

False

## Using the `type()` function
Verify you are working with boolean values using the `type()` function below.

In [4]:
# return the data type for bool(1)
type(bool(1))

bool

In [5]:
# assign bool(1) to the variable name: a_bool
a_bool = bool(1)

In [6]:
# verify that a_bool is a bool data type
type(a_bool)

bool

## Boolean operations
As you will learn later, bools can be used with various operators to represent the truth value of an expression. For example, 1 < 2 is `True`. The output of conditional expressions is always boolean, or `True` and `False`. Rest assured, we will explore this important topic later in the course.

In [1]:
1 < 2

True

In [8]:
# == is the equality operator
print(1 == 0)
print(1 == "1")

False
False

In [9]:
if True:
  print("Execute this line of code")

Execute this line of code

In [10]:
if False:
  print("Do nothing")